html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

[class*='MuiGrid-spacing-xs-'] {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

[class*='MuiGrid-spacing-xs-'] > .MuiGrid-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
